.headerWrapper {
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(to left, var(--background), var(--secondary));
    backdrop-filter: blur(1px);
    color: var(--main);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 5em;
    border-bottom: 0.15em solid var(--main);
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 3em;
}

.navbar a {
    color: var(--main);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--secondary);
}

.logo {
    margin-left: -30px;
    width: 120px;
    height: 60px;
}

.logo img {
    width: 120px;
    height: 60px;
}

.hamburgerIcon {
    cursor: pointer;
}

.menuContainer {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    background: linear-gradient(to left, var(--background), var(--secondary));
    backdrop-filter: blur(1px);
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
    border-top: 0.10em solid var(--main);
}

.menuContainer li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0.6em 5em;
}

.menuContainer a {
    color: var(--main);
    font-weight: bold;
}