.footerWrapper {
    display: flex;
    flex-direction: column;
    padding: 3em 5em;
    color: var(--main);
}

.linksRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1152px) {
    .linksRow {
        gap: 3em;
    }
}

.linksRow a {
    color: var(--main);
}

.infoCard {
    width: 15.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.infoCard .infoList {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

@media screen and (max-width: 1152px) {
    .infoCard .infoList {
        gap: 0.5em;
    }
}