.aboutWrapper {
    display: flex;
    flex-direction: column;
    padding: 3em 5em;
    gap: 3em;
    color: var(--main);
}

.aboutSubsection {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 70%;
}

@media screen and (max-width: 736px) {
    .aboutSubsection h1 {
        font-size: 1.2em;
    }
}

.aboutList {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}